.h3{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
}

.div_options{
    display: grid;
}

.text:hover{
    color: #F92F60;
    text-decoration-line: underline;
}


.corbeille{
    grid-column: 2/2;
    background-color: #F92F60;
    border-color: white;
    border: solid 1px;
    border-radius: 5px;
    height: 30px;
    width: 45px;
    margin-left: 60px;
    color: white;
    font-size: 20px;
}

.edit{
    grid-column: 3/3;
    background-color: #F92F60;
    border-color: white;
    border: solid 1px;
    border-radius: 5px;
    height: 30px;
    width: 45px;
    margin-left: 20px;
    color: white;
}

.edit:hover{
    color: darkgray;
}

.corbeille:hover{
    color: darkgray;
}

.date{
    margin-top: 100px;
    font-size: 10px;
    color: gray;
}

.photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.div{
    display: flex;
}