.recherche{
    width: 70%;
    height: 100%;
    margin-left: 30%;
}

.contact_label{
    font-size: 15px;
    color: gray;
}

.header{
    display: flex;
    height: 70px;
    width: auto;
    padding: 5px;
    margin: 5px;
    border: solid;
    color: gray;
}

.case_login{
    display: grid;
    color: black;
    grid-template-rows: 30px 30px;
    
    margin-bottom: 10px;
    margin-top: 2px;
    padding: 10px 10px;
    background-color: lightgray;
    text-align: center;
    border: solid;
    border-radius: 20%;
    font-size: small;
    text-size-adjust: 20%;
    height: 60%;
    color: black;
}

.search{
    height: 20px;
    width: 10px;
}

.logo {
    align-items: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.barre{
    width: 50%;
    margin-top: 25px;
}