.new_com_zone{
    display: grid;
    grid-template-columns: 80% 20%;
    border: solid;
    align-items: center;
    text-align: center;
    height: 100px;
}

.new_com {
    grid-column: 1/2;
    width: 60%;
    text-align: left;
    resize: none;
    margin-left: 5%;
}

.post_button{
    border-radius: 30%;
    height: 40%;
    width: 60px;
    grid-column: 2/2;
}

.post_button:active{
    background-color: darkmagenta;
}

.comm{
    margin-left: 5%;
    margin-top: 2%;
}