.form1{
    display: grid;
    border: solid;
    border-radius: 10%;
    color: black;
    width: 400px;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    backdrop-filter: blur(5px);
  }

h1{
    color: black;
    text-align: center;
}

input {
    margin-bottom: 20px;
}

.nom{
    text-align: left;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
    border-bottom: 1px solid darkmagenta;
    color: black;
}

html{
    background: linear-gradient(#9E28DA, #9198e5);
    background-repeat: no-repeat;
  background-attachment: fixed;
}

.enreg{
    border-radius: 20px;
    border-color: white;
    color: white;
    background-color: darkmagenta;
    height: 30px;
    width: 200px;
    margin-left: 100px;
}

.enreg:hover{
    color: darkgrey;
}