form{
    display: grid;
    border: solid;
    border-radius: 15%;
    color: white;
    width: 400px;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
  }

h1{
    color: white;
    text-align: center;
}

input {
    margin-bottom: 20px;
}

.nom{
    text-align: left;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
    border-bottom: 1px solid darkmagenta;
    color: white;
}

html{
    background-image: url("file:C:/Users/iorda/OneDrive/Desktop/background2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.enreg{
    border-radius: 20px;
    border-color: white;
    background-color: darkmagenta;
    height: 30px;
    width: 200px;
    margin-left: 100px
}