div{
    border: solid;
    border-radius: 15%;
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 150px;
    padding: 20px;
    color: white;
    backdrop-filter: blur(5px);
    text-align: center;
  }

.login{
    height: 20px;
    border: none;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
    border-bottom: 1px solid darkmagenta;
    color: white;
}

h2{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 1px black;
}

html{
    background-image: url("background2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login{
    background-color: darkmagenta;
    color: white;
    border: solid;
    border-radius: 20px;
    margin: 20px;
    height: 30px;
    width: 100px;
}

.login:hover{
    color: darkgrey;
}