.logo {
    align-items: left;
    height: 100%;
}

header{
    display: flex;
    block-size: 50px;
    height: 200px;
    width: auto;
    padding: 5px;
    margin: 5px;
    /*border: solid;*/
    font-size: 25px;
}

.ajout_ami{
    margin-left: 600px;
    width: 30px;
    height: 30px;
    margin-top: 70px;
}

.flexbox{
    margin-top: 80px;
    margin-left: 10px;
    width:20%;
    color: white;
}

.contact{
    margin-top: 75px;
    margin-left: 10px;
    width:20%;
    font-size: 15px;
    color: white;
}

main{
    display: grid;
    grid-template-columns: 15% auto ;
}

aside{
    margin: 5px;
    border-style: solid;
    border-color: black;
}

article{
    border-style: solid;
    margin: 5px;
}

html{
    background-color: #2E2A29;
    color: white;
}